* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --reaction-caption: hsl(0, 100%, 67%);
  --reaction-bg: hsl(0, 78%, 95%);
  --memory-caption: hsl(39, 100%, 56%);
  --memory-bg: hsl(39, 97%, 95%);
  --verbal-caption: hsl(166, 100%, 37%);
  --verbal-bg: hsl(166, 100%, 95%);
  --visual-caption: hsl(234, 85%, 45%);
  --visual-bg: hsl(234, 85%, 95%);

  --result-bg-gradient: linear-gradient(
    0deg,
    hsl(241, 81%, 54%) 0%,
    hsl(252, 100%, 67%) 100%
  );
  --result-circle-bg: linear-gradient(
    0deg,
    hsla(241, 72%, 46%, 0) 0%,
    hsla(256, 72%, 46%, 1) 100%
  );
  --summary-bg: hsl(0, 0%, 100%);
  --website-bg: hsl(221, 100%, 96%);

  --result-text: hsl(241, 100%, 89%);
  --button-color: hsl(224, 30%, 27%);
}

html {
  background-color: var(--website-bg);
  font-family: "Hanken Grotesk", sans-serif;
}

.two-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#result {
  background: var(--result-bg-gradient);
  border-radius: 25px;
  align-items: center;
  position: relative;
  left: 20px;
}

.result__heading {
  color: var(--result-text);
  padding: 30px 0;
}

.circle {
  background: var(--result-circle-bg);
  width: 150px;
  height: 150px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result__score {
  font-size: 48px;
  font-weight: 800;
  color: var(--website-bg);
}

.result__of-hundred {
  color: var(--result-text);
}

.result__word {
  color: var(--website-bg);
  padding: 20px 0;
}

.result__descr {
  color: var(--result-text);
  font-size: 14px;
  width: 60%;
  text-align: center;
}

#summary {
  background-color: var(--summary-bg);
  width: 320px;
  border-radius: 0 25px 25px 0;
}

.summary__card {
  width: 300px;
  height: 100%;
  margin-left: 20px;
}

.summary__items {
  width: 80%;
  margin: 0 auto;
}

.summary__heading {
  padding: 30px 0;
}

.summary__container > * {
  background-color: blue;
  display: flex;
  height: 45px;
  margin: 0 auto 15px;
  padding: 0 10px;
  justify-content: space-between;
  border-radius: 10px;
}

.summary__container--title,
.summary__container--score {
  display: flex;
  gap: 10px;
  align-items: center;
}

.summary__container--score > p {
  color: grey;
}

.summary__container--reaction {
  background-color: var(--reaction-bg);
}
.summary__container--reaction > .summary__container--title {
  color: var(--reaction-caption);
}

.summary__container--memory {
  background-color: var(--memory-bg);
}
.summary__container--memory > .summary__container--title {
  color: var(--memory-caption);
}

.summary__container--verbal {
  background-color: var(--verbal-bg);
}
.summary__container--verbal > .summary__container--title {
  color: var(--verbal-caption);
}

.summary__container--visual {
  background-color: var(--visual-bg);
}
.summary__container--visual > .summary__container--title {
  color: var(--visual-caption);
}

.summary__button--continue {
  width: 100%;
  height: 45px;
  background-color: var(--button-color);
  color: var(--website-bg);
  border: none;
  border-radius: 35px;
  font-size: 18px;
  margin: 10px auto;
}


/* TODO: 
  -> clean the code
  -> start working on the mobile version