* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --reaction-caption: hsl(0, 100%, 67%);
  --reaction-bg: hsl(0, 78%, 95%);
  --memory-caption: hsl(39, 100%, 56%);
  --memory-bg: hsl(39, 97%, 95%);
  --verbal-caption: hsl(166, 100%, 37%);
  --verbal-bg: hsl(166, 100%, 95%);
  --visual-caption: hsl(234, 85%, 45%);
  --visual-bg: hsl(234, 85%, 95%);

  --result-bg-gradient: linear-gradient(
    0deg,
    hsl(241, 81%, 54%) 0%,
    hsl(252, 100%, 67%) 100%
  );
  --result-circle-bg: linear-gradient(
    0deg,
    hsla(241, 72%, 46%, 0) 0%,
    hsla(256, 72%, 46%, 1) 100%
  );
  --summary-bg: hsl(0, 0%, 100%);
  --website-bg: hsl(221, 100%, 96%);

  --result-text: hsl(241, 100%, 89%);
  --button-color: hsl(224, 30%, 27%);

  --cards-shadow: 1px 10px 20px hsla(224, 30%, 27%, 0.3);
}

html {
  background-color: var(--website-bg);
  font-family: "Hanken Grotesk", sans-serif;
}

main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================================== */

.two-cards {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  box-shadow: var(--cards-shadow);
}

.card,
.block {
  height: 400px;
}

.card {
  width: 300px;
  display: flex;
  border-radius: 25px;
}

#result {
  flex-direction: column;
  align-items: center;
  background: var(--result-bg-gradient);
}

.result__heading,
.result__of-hundred,
.result__descr {
  color: var(--result-text);
}

.result__score,
.result__word,
.summary__button--continue {
  color: var(--website-bg);
}

.result__heading,
.summary__heading {
  padding: 30px 0;
}

.circle {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100px;
  background: var(--result-circle-bg);
}

.result__score {
  font-size: 48px;
  font-weight: 800;
}

.result__word {
  padding: 20px 0;
}

.result__descr {
  width: 60%;
  font-size: 14px;
  text-align: center;
}

/* ========================================== */

.block {
  width: 40px;
  height: 400px;
  position: absolute;
  z-index: -1;
}

/* ========================================== */

.block,
#summary {
  background-color: var(--summary-bg);
}

.summary__items {
  width: 80%;
  margin: 0 auto;
}

.summary__container > * {
  height: 45px;
  margin: 0 auto 15px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.summary__container--title,
.summary__container--score {
  display: flex;
  gap: 10px;
  align-items: center;
}

.summary__container--score > p {
  color: grey;
}

.summary__container--reaction {
  background-color: var(--reaction-bg);
}
.summary__container--reaction > .summary__container--title {
  color: var(--reaction-caption);
}

.summary__container--memory {
  background-color: var(--memory-bg);
}
.summary__container--memory > .summary__container--title {
  color: var(--memory-caption);
}

.summary__container--verbal {
  background-color: var(--verbal-bg);
}
.summary__container--verbal > .summary__container--title {
  color: var(--verbal-caption);
}

.summary__container--visual {
  background-color: var(--visual-bg);
}
.summary__container--visual > .summary__container--title {
  color: var(--visual-caption);
}

.summary__button--continue {
  width: 100%;
  height: 45px;
  margin: 10px auto;
  border: none;
  border-radius: 35px;
  font-size: 18px;
  background-color: var(--button-color);
}

.summary__button--continue:hover {
  background: var(--result-bg-gradient);
}

/* ========================================== */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ========================================== */

@media (max-width: 650px) {
  main {
    height: auto;
    padding: 50px;
  }

  .two-cards {
    flex-direction: column;
  }

  .block {
    height: 40px;
    width: 300px;
  }

  .attribution {
    margin-bottom: 20px;
  }
}

@media (max-width: 310px) {
  main,
  .two-cards,
  .card,
  .block {
    width: 90vw;
    margin: 0 auto;
  }
}
